/*Import Josefin Slab font from font.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Roboto:ital@0;1&display=swap');
/*Import Sacramento font from font.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

html{
    overflow-x: hidden; /*Prevents the browser from displaying a left-to-right scrollbar as a result of negative margin values.*/
    scroll-behavior: smooth; /*Creates a smooth scrolling effect when a bookmark link is clicked*/
    
}

.nav-bar{
    position: sticky;/*Creates a sticky element that stays in the same spot in the browser screen*/
    top: 0; /*Tells the browser to stick the element at the top of the page based on user scrolling*/
    z-index: 9;/*Sets the stack layer of the navbar to scroll over all elements*/
}

ul{
    display: flex; /*Creates a flex container which will expand or shrink elements to fill the space available to them and place the elements side by side horizonally*/
    list-style-type: none; /*Removes the default styling for unordered list elements*/
    align-items: center;
    margin: -8px -8px 0px -8px; /*The margin order is top, right, bottom and left. The negative margins will stretch the background beyond the edge of the browser screen*/
    background-color: rgb(1,128,106);
    border-bottom: 5px solid rgb(247,177,188);
}

a{
    display: block; /*Displays anchor elements vertically on a new line, this was added so the drop down menu displays vertically and not horizontally on the screen*/
    font-family: "Josefin Slab", serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(247, 177, 188);
    text-align: center;
    width: 100px;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

a:hover, .drop:hover a:only-of-type /*Only of type effectss the only child element nested within an element. This will keep the background color blue while hovering and the text white when we move the mouse over anchor elements in the rollover menu div*/{
    background-color: rgb(149,238,223);
    color:white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in;
}

.rollover-menu{
    display: none; /*Prevents the anchor links in this div from showing on the web browser until otherwise specified*/
    position: absolute; /*Absolute will position the div element relative to the position of its parent element*/
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*Creates a trigger effect when the user hovers their mouse over the Recipe link. The trigger will display all elements within the rollover-menu class div element*/
.drop:hover .rollover-menu{
    display: block;
}

/*Parent       Child*/
.rollover-menu a{
    color: rgb( 0, 80, 67);
}

/*a:hover overriden due to Parental relation*/
.rollover-menu a:hover{
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(90, 90, 90, 0.2);
}

.rollover-menu a:nth-child(1){
    border-top: 5px solid rgb(238, 118, 136);
}

/*footer*/
footer{
    align-items: center;/*Will align nested HTML elements in the center i.e. the table data and paragraph elements in the footer tag*/
    margin: 0px -8px -8px -8px; /*Stretches the footer background beyond the browsers edge leaving no white space*/
    background-color: rgb(1,128,106);
    border-top: 5px solid rgb(247,177,188);
    bottom: 0; /*Positions footer at the bottom of the screen*/
}

table{
    width: 100%; /*Takes up full width of the browser screen*/
}

td{
    width: 33%; /*Data takes up 1/3 of the screen space available*/
}

td p{
    font-family: "Josefin Slab", serif; /*google font here*/
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(247, 177,188);
}

/*Body*/
.container{
    display: inline-block;
    background-size: 100%;
    padding-top: 60px;
    padding-left: 30px;
}

/*Header*/
h1 {
    font-family: "Sacramento", cursive; /*Another font from Google*/
    font-size: 80px;
    color: rgb(0,80,67);
    text-align: center;
}

h2, h3, h4{
    font-family: "Josefin Slab", serif; /*Another font from Google*/
    text-align: center;
}

h2{
    color: rgb(0,80,67);
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(247,177,188);
}

h3{
    font-size: 30px;
}

h4{
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
}

/*paragraph*/
p{
    font-family: "Josefin Slab", serif; /*Another font from Google*/
    font-size: 20px;
    font-weight: 600;
    color: rgb( 0, 80, 67);
    text-align: center;
}

/*images*/
/*Positions elements to sit side by side on the screen*/
.column{
    float: left;
    width: 48%;
    padding: 10px;
}

/*Styling for screens 1200px or smaller*/
@media screen and (max-width: 1200px){
    .column{
        width: 100%;
        padding: 0px;
        margin-left: -15px; /*Centers each colmun on the screen*/
    }
}

/*Specifically styles the first 7 image tag elements contained in elements with the column class*/
.column img:nth-child(-n + 7){
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.2);
}

.recipe-container{
    width: 500px;
    height: 350px;
    margin: 100px auto 180px; /*Shorthand value top. right and left, then bottom*/
    perspective: 1000px; /*Tells the browser how much 3D space an element should takeup on the screen*/
}

/*Styling for mobile size screens*/
@media screen and (max-width: 600px){
    .column img:nth-child(-n + 7){
        width: 350px;
        height: 225px;
    }

    .recipe-container{
        width: 350px;
        height: 225px;
    }
}

.recipe-card-background{
    background-color: rgb(149,238,223);
}

@media screen and (max-width:1200px){
    #pork{
        background-color: rgb(255, 255, 255);
    }
    #biscuits{
        background-color: rgb(149, 238,223);
    }
}

/*Featured Recipe*/

/*Styles the featured recipe h3 tag*/
#featured-header{
    font-family: 'Sacramento', cursive; /*google font*/
    font-size: 60px;
    color: rgb(0, 80, 67);
}

#featured-name-text{
    text-align: justify;
    padding-top: 20px;
    margin-left: 40px;
}

/*Sets margin left to 0 because it is not needed on a small screen and centers the text*/
@media screen and (max-width: 1200px){
    #featured-name-text{
        margin-left: 0px;

    }
}

/*Specifically styles the img tag nest within the #featured div in the Featured Recipe Section*/
@media screen and (min-width: 1600px){
    #featured img{
        width: 700px;
        height: auto; /*Automatcially calculates the image height based on the width*/
        margin-left: -100px;
        margin-top: -20px; /*Margin left and top will override margin styling from the .recipe-container class selector*/
    }
}

/*Adjust the position of the featured img to to be centered in its div when the width is 1599px or less*/
@media screen and (max-width: 1599px){
    #featured img{
        margin-left: 0px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px){
    #featured .recipe-card-background{
        height: 300px;
    }

    #featured img{
        margin-top: -65px;
    }
}

#featured-button{
    display: block; /*Positions the recipe button on its own line from the other elements within the div*/
    margin: 60px auto 0px;
    background-color: rgb(1, 128,106);
    border-radius: 35px;
    border: none; /*Removes deafulat border set by the browser when border-radius: is used*/
    font-family: "Josefin Slab", serif; /*Google Font*/
    font-size: 30px;
    font-weight: bold;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
}

/*Specifically styles the hover effect of the recipe button in the featured recipe section*/
#featured button:hover{
    background-color: rgb(247, 177, 188);
}

/*Image Flip*/

/*Positions the flip effect, defintes transition time, and defintes a 3D effect*/
.flip{
    position: relative;
    width: 100%;
    height: 100%; /*Setting 100% for both width and height allows the effect to take up all of the space available*/
    text-align: center;
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d; /*Treats elements as 3D objects instead of flat 2D objects*/
}

.flip:hover{
    transform: rotateY(-180deg); /*Rotates element counter clockwise*/
}

.flip-front, .flip-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-back{
    background-color: rgb(149,238,223);
    border: 2px solid white;
    transform: rotateY(180deg); /*undoes flipfront so that the text can be read properly*/
}

.text-container{
    padding-top: 70px;
}

@media screen and (max-width: 600px){
    .text-container{
    padding-top: 0px;
    }
}

/*Recipe Button*/
input[type=button]{
    background-color: #fff;
    border:none;
    border-radius: 20px;
    font-family: "Josefin Slab", serif; /*Google Font*/
    font-weight: bold;
    font-size: 22px;
    padding: 11px 17px;
    color: rgb(1, 128, 106);
    cursor: pointer;
}

input[type=button]:hover{
    background-color: rgb(247, 177, 188);
    color: white;
}

/*Contact form CSS*/

/*Sets up the contact within the div tag containing the IS contact to be centered oon the webpage*/
#contact{
    display: block;
    margin-bottom: 70px;
}

form{
    display: table;
    padding: 15px;
    margin-left: auto;
    margin-right: auto; /*The browser will automatically calculate margins to center the form on the screen*/
}

/*This will specifically target the input tags that are nested withing the form tag*/
form input{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: rgb(165,165,165);
    border: 2px solid rgb(165, 165,165);
    border-radius: 5px;
    padding: 3px;
    margin: 10px 15px 10px 0px;
    transition: 0.3s ease-out;
}

form input:focus{
    border: 2px solid rgb(1,128,106);
    color: black;
    outline: none; /*Removes default border added when the focus pseudo class is triggered*/
    transition: 0.3s ease-out;
}

label{
    font-family: "Josefin Slab", serif; /*Google Font*/
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

textarea{
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both; /*Allows users to resize the text both width and height*/
    border: 3px solid rgb(165,165,165);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(165,165,165);
    font-size: 15px;
    transition: 0.3s ease-out;
}

textarea:focus{
    color: black;
    border: 3px solid rgb(1, 128, 106);
    transition: 0.3s ease-out;
    outline: none;
}

input[type=submit]{
    background-color: rgb(1, 128, 106);
    border: none;
    border-radius: 35px;
    font-family: "Josefin Slab", serif; /*Google Font*/
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    float: right; /*Positions the submit button to the bottom right of the form*/
}

input[type=submit]:hover{
    background-color: rgb(247, 177,188);
}